<div class="form-horizonal">
  <fieldset>
    <div class="form-group">
      <%= form_for(@question) do |f| %>
        <% if @question.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
            <ul>
            <% @question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
    </div>
    <div class="form-group">
      <%= f.label :question, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :question, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :qntype, "Question Type", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :qntype, [ 'Checkin', 'Review'], { :prompt => true }, { class: "form-control" } %>
        <span class="help-block">Is this a checkin or review question?</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :scale, "Answer Type", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :scale, scale_options, { :prompt => true }, { class: "form-control" } %>
        <span class="help-block">Agreement / Rating / Text / True-False</span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :default_order, "Default Order", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :default_order, class: 'form-control' %>
        <span class="help-block"><%= current_orders %></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2"><br>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
</div>
<% end %>
