<%= render "/goals/goal_head" %>
<!-- CHECKIN QUESTIONS -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="text-center">Checkin Questions</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2">#</th>
                    <th class="col-sm-8">Question</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                <% @checkin_questions.each do |checkin_question| %>
                <tr>
                    <td><%= link_to checkin_question.qnorder, checkin_question %>
                        <div class="btn-group btn-group-xs">
                            <%= link_to "+", increase_question_path(checkin_question.id), class: "btn btn-default btn-group-xs", method: :put %>
                            <%= link_to "-", decrease_question_path(checkin_question.id), class: "btn btn-default btn-group-xs", method: :put %>
                        </div>
                    </td>
                    <td><%= checkin_question.question %></td>
                    <td>
                        <small class="text-muted"><%= checkin_question.scale %></small>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<!-- REVIEW QUESTIONS -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="text-center">Review Questions</h4>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2">#</th>
                    <th class="col-sm-8">Question</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                <% @review_questions.each do |review_question| %>
                <tr>
                    <td><%= link_to review_question.qnorder, review_question %>
                        <div class="btn-group">
                            <%= link_to "+", increase_question_path(review_question.id), class: "btn btn-default btn-xs", method: :put %>
                            <%= link_to "-", decrease_question_path(review_question.id), class: "btn btn-default btn-xs", method: :put %>
                        </div>
                    </td>
                    <td><%= review_question.question %></td>
                    <td>
                        <small class="text-muted"><%= review_question.scale %></small>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <%= link_to 'Add a question', new_goal_question_path(@goal), class: "btn btn-primary", "data-turbolinks" => "false" %>
        <%= link_to 'Reset questions', reset_goal_path(@goal), class: "btn btn-default pull-right" %>
    </div>
</div>
