<div class="well">
  <p>
    <strong>Question:</strong> <%= @question %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= @question.qntype %>
  </p>
</div>

<p>
  <%= link_to pencil_icon.concat(' Edit'), edit_question_path(@question), "data-turblinks" => "false", class: "btn btn-primary" %>
  <%= link_to list_icon.concat(' All Questions'), goal_questions_path(@question.goal), class: "btn btn-info" %>
  <%= link_to trash_icon.concat(' Delete'), @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default pull-right" %>
</p>
