<div class="well">
  <p>
    <strong>Question:</strong> <%= @question %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= @question.qntype %>
  </p>
</div>

<%= link_to 'Edit', edit_question_path(@question), "data-turblinks" => "false" %> | <%= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
<p>
  <%= link_to 'Back', goal_path(@question.goal) %>
</p>
