<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center with-padding">Make Your Focus Areas Social</h2>
    </div>
</div>
<!-- NO GOALS -->
<% if current_user.goals.empty? %>
  <div class="row">
      <div class="col-sm-12">
          <div class="alert alert-info">
              You have not made any goals yet.
          </div>
      </div>
  </div>
<% end %>
<!-- GOAL LIST -->
<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover">
      <!-- GOAL > EACH -->
      <% @goals.each do |goal| %>
        <tr>
          <td><h5><%= goal.title %> <span class="label label-default"><%= SocialGoalRecord.users_with_access(goal).count %> </span></h5></td>
          <td><a href="#goal_<%= goal.id %>" data-toggle="collapse" class="btn btn-default">Show users with access</a></td>
          <td><%= link_to "Edit Access", social_goal_path(goal), class: "btn btn-default" %></td>
        </tr>
        <tr>
          <td colspan="3" class="hiddenRow">
            <div class="people_list collapse" id="goal_<%= goal.id %>"> <%= people_with_access(goal) %> </div>
          </td>
        </tr>
      <% end %>
      <!-- end -->
    </table>
  </div>
</div>
