<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center with-padding">Social Focus Areas</h2>
    </div>
</div>
<!-- SOCIAL GOALS -->
<% if current_user.social_goals.any? %>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">Others' Goals</h3>
    </div>
  </div>
  <!-- SOCIAL LIST GOALS -->
  <% @goal_owners.each do |user| %>
    <div class="row">
      <div class="col-sm-4 user-list">
        <strong><%= user %></strong>
      </div>
      <div class="col-sm-8">
        <div class="list-group">
          <%= @social_goals.where(user: user).find_each do |goal| %>
            <%= link_to checkin_answers_goal_path(goal), class: "list-group-item", id: "panel-hoverable" do %>
            <%= goal.title %> <span class="pull-right">Last check in: <%= timewordslastcheckin(goal) %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %> <!-- END SOCIAL GOALS -->

<!-- NO GOALS -->
<% if current_user.goals.empty? %>
  <div class="row">
      <div class="col-sm-12">
          <div class="alert alert-info">
              You have not made any goals yet.
          </div>
      </div>
  </div>
<% end %>
<!-- MAKE GOAL SOCIAL LIST -->
<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Your goals</h3>
    <table class="table table-hover">
      <!-- GOAL > EACH -->
      <% @goals.each do |goal| %>
        <tr>
          <td><h5><%= goal.title %> <span class="label label-default"><%= SocialGoalRecord.users_with_access(goal).count %> </span></h5></td>
          <td><a href="#goal_<%= goal.id %>" data-toggle="collapse" class="btn btn-default">Show users with access</a></td>
          <td><%= link_to "Edit Access", social_goal_path(goal), class: "btn btn-default" %></td>
        </tr>
        <tr>
          <td colspan="3" class="hiddenRow">
            <div class="people_list collapse" id="goal_<%= goal.id %>"> <%= people_with_access(goal) %> </div>
          </td>
        </tr>
      <% end %>
      <!-- end -->
    </table>
  </div>
</div>
