<%= render 'head_stuff' %>
<!-- START CENTERED WHITE CONTAINER -->
<span class="preheader">Someone gave you access to a goal!</span>
<table class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h1><%= @goal_owner.email_name %> gave you access to their goal!</h1>
                        <p>Hi <%= @current_user.email_name %>,</p>
                        <p><%= @goal_owner.email_name %> just gave you access to their goal. See details below:</p>
                        <p>
                          <strong>Goal title:</strong> <%= @goal %>
                        </p>
                        <p>
                          <strong>Goal description:</strong> <%= @goal.description %>
                        </p>
                        <% if @goal.success_description %>
                        <p>  <strong>What success looks like: </strong>
                              <%= @goal.success_description %></p>
                        <% end %>
                        <p>
                          <strong>Number of checkins so far:</strong> <%= @goal.checkin_count %>
                        </p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0" style="width:75%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="<%= @url_link %>" target="_blank" style="width:100%">View goal answers</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            - Chris</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MAIN CONTENT AREA -->
</table>

<%= render 'footer' %>
