<p id="notice"><%= notice %></p>

<h1>Listing Rating Answers</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th>Date</th>
      <th>Question</th>
      <th>Goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rating_answers.each do |rating_answer| %>
      <tr>
        <td><%= rating_answer.answer %></td>
        <td><%= rating_answer.date %></td>
        <td><%= rating_answer.question %></td>
        <td><%= rating_answer.goal %></td>
        <td><%= link_to 'Show', rating_answer %></td>
        <td><%= link_to 'Edit', edit_rating_answer_path(rating_answer) %></td>
        <td><%= link_to 'Destroy', rating_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating answer', new_rating_answer_path %>
