

<h3 class="text-center">All Users</h3>

<div class="list-group">
  <% @users.each do |user| %>
    <%= link_to user, class: "list-group-item" do %>
      <%= user.name %>
      <span class="grey-text text-lighten-1"><%= user.email %></span>
      <span class='badge'><%= pluralize(user.goals.count, "goals") %></span>
    <% end %>
  <% end %>
  <strong><%= link_to 'New User', new_user_path, class: "list-group-item" %></strong>
</div>
