<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center with-padding">Your Goals</h3>
  </div>
</div>
<!-- NO GOALS -->
<% if @user.goals.empty? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
            <span class="text-warning">You have not made any goals yet.</span>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <!-- GOALS -->
      <% @user.goals.each do |goal| %>
        <%= link_to goal, class: "list-group-item" do %>
          <h4 class="list-group-item-heading"><%= goal.title %></h4>
          <p class="list-group-item-text"><%= goal.description %></p>
          <p class="list-group-item-text text-right">Last checkin <%= distance_of_time_in_words_to_now(goal.last_checkin) %> ago</p>
          <% end %>
      <% end %>
      <!-- NEW GOAL -->
      <%= link_to(new_goal_path, { class: "list-group-item", "data-no-turbolink" => "true" }) do %>
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Goal</h4>
      <% end %>
    </div>
  </div>
</div>
