<div class="jumbotron">
  <h2>How do you track your progress?</h2>
  <p><b>Growth</b> is for keeping your development goals in focus and tracking your progress.</p>
  <p><%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-link" %></a></p>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <%= link_to 'Users', users_path, class: "list-group-item" %>
      <%= link_to 'Goals', user_path(1), class: "list-group-item" %>
      <%= link_to 'Rating Answers', rating_answers_path, class: "list-group-item" %>
      <%= link_to 'Comment Answers', comment_answers_path, class: "list-group-item" %>
    </div>
  </div>
</div>
