<div class="row">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Home</span>
      <p>Some quick example text to build on
      the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div class="row">
  <p>
    <%= link_to 'Users', users_path %>
  </p>
  <p>
    <%= link_to 'Goals', goals_path %>
  </p>
  <p>
    <%= link_to 'Questions', questions_path %>
  </p>
  <p>
    <%= link_to 'Rating Answers', rating_answers_path %>
  </p>
  <p>
    <%= link_to 'Comment Answers', comment_answers_path %>
  </p>
</div>
