<h2 class="text-center with-padding">Template Questions</h1>
<div class="row">
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#checkin" data-toggle="tab" aria-expanded="true">Checkin</a></li>
    <li class=""><a href="#review" data-toggle="tab" aria-expanded="false">Review</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="checkin">
      <br>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Question</th>
            <th>Scale</th>
            <th>Order</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @checkin_questions.each do |question| %>
            <tr>
              <td><%= question.text %></td>
              <td><%= question.scale %></td>
              <td><%= question.default_order %></td>
              <td><%= link_to 'Edit', edit_template_question_path(question), "data-no-turbolink" => "true" %> |
                <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="review">
      <br>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Question</th>
            <th>Scale</th>
            <th>Order</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @review_questions.each do |question| %>
            <tr>
              <td><%= question.text %></td>
              <td><%= question.scale %></td>
              <td>
                <%= question.default_order %>
              </td>
              <td><%= link_to 'Edit', edit_template_question_path(question), "data-no-turbolink" => "true" %> |
                <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>



<br>

<%= link_to 'New Question', new_template_question_path, "data-no-turbolink" => "true", class: "btn btn-default" %>
