<div class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <div class="col-sm-12">
                <%= form_for(@goal) do |f| %>
                <% if @goal.errors.any? %>
                <div class="alert alert-danger">
                    <p><%= pluralize(@goal.errors.count, "error") %>
                        prohibited this goal from being saved:</p>
                    <ul>
                        <% @goal.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :title, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :title, class: 'validate form-control', maxlength: 40 %>
                <span class="help-block">What are you focussing on? Shorter the better.<br> <em>E.g. 'Presentation Skills' or 'Writing'</em></span>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Why?", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_area :description, class: 'form-control', rows: "2" %>
                <span class="help-block">Describe why & what you want to improve.<br>
                <em>E.g. 'I want to make my presentations and speech smoother and more engaging...'</em></span>
            </div>
        </div>
        <div class="form-group">
            <%= f.label "Frequency of check ins", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="buttons">
                  <%= f.label :frequency, value: "Daily", class: "btn btn-info" do %>
                  <%= f.radio_button :frequency, "Daily" %>Daily
                  <% end %>
                  <%= f.label :frequency, value: "Weekly", class: "btn btn-info" do %>
                  <%= f.radio_button :frequency, "Weekly" %>Weekly
                  <% end %>
                  <%= f.label :frequency, value: "Fortnightly", class: "btn btn-info" do %>
                  <%= f.radio_button :frequency, "Fortnightly" %>Fortnightly
                  <% end %>
                  <%= f.label :frequency, value: "Monthly", class: "btn btn-info" do %>
                  <%= f.radio_button :frequency, "Monthly" %>Monthly
                  <% end %>
                  <%= f.label :frequency, value: "Quarterly", class: "btn btn-info" do %>
                  <%= f.radio_button :frequency, "Quarterly" %>Quarterly
                  <% end %>
                </div>
                <span class="help-block">How frequently do you want to check in against this goal?<br>
                <em>E.g. 'Weekly' if you want to reflect on it weekly.</em></span>
            </div>
        </div>
        <div class="form-group">
          <%= f.label "What does success look like?", class: 'control-label white-background col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_area :success_description, class: 'validate form-control' %>
            <span class="help-block white-background">Reflect on what you would call a successful outcome / progress for this area / goal <span>
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <%= f.submit class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
    </fieldset>
</div>
