
<div class="row">
  <% if @goal.success_description? %>
  <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Description
        </div>
        <div class="panel-body">
          <p><%= @goal.description %></p>
          <span class="label label-info"><%= @goal.frequency %> checkins</span>
          <span class="label label-default"><%= @goal.goaltype %></span>
        </div>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Success is...
        </div>
        <div class="panel-body">
          <p><%= @goal.success_description %></p>
        </div>
      </div>
  </div>
  <% else %>
  <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Description
        </div>
        <div class="panel-body">
          <p><%= @goal.description %></p>
          <span class="label label-info"><%= @goal.frequency %></span>
          <span class="label label-default"><%= @goal.goaltype %></span>
        </div>
      </div>
  </div>
  <% end %>
</div>
