<div class="row">
    <div class="col-sm-11">
        <h2 class="text-center text-uppercase"><%= @goal.title %>
            <br><small><%= controller.action_name %></small>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p id="notice" class="text-center"><%= notice %></p>
        <div class="well">
            <%= @goal.description %><br><br>
            <span class="label label-info"><%= @goal.frequency %></span>
            <span class="label label-default"><%= @goal.goaltype %></span>
        </div>
    </div>
</div>
