<%= render 'goal_head' %>
<% if @goal.is_it_checkin_time? %>
  <div class="row">
      <div class="col-sm-12">
        <div class="form-horizontal">


          <%= form_for @goal, url: {action: "update_checkin"} do |f| %>
            <% @questions.each do |question| %>
            <div class="form-group">


              <label class="control-label col-sm-5">
                  <p><%= question %></p>
              </label>
              <div class="col-sm-7">
                <%= f.fields_for :questions, question do |q| %>
                  <% if question.scale == "Comment" %>
                    <%= q.fields_for :comment_answers, question.comment_answers.build(question: question) do |answer| %>
                      <BR><%= answer.text_area :answer, class: "form-control" %>
                      <%= answer.hidden_field :question_id, :value => question.id %>
                    <% end %>
                  <% elsif question.scale === "Agreement" %>
                    <%= q.fields_for :rating_answers, question.rating_answers.build(question: question) do |answer| %>
                      <%= answer.select(:answer, agreement_options, { prompt: true }, { class: "form-control" }) %>
                      <%= answer.hidden_field :question_id, :value => question.id %>
                    <% end %>
                  <% elsif question.scale === "True/False" %>
                    <%= q.fields_for :boolean_answers, question.boolean_answers.build(question: question) do |answer| %>
                      <%= answer.select(:answer, boolean_options, { prompt: true }, { class: "form-control" }) %>
                      <%= answer.hidden_field :question_id, :value => question.id %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <br>
              </div>
            <% end %>
            <div class="form-group">
              <div class="col-sm-7 col-sm-offset-5">
                <%= f.submit "Sumbit Checkin", class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
          </div>
      </div>
  </div>
<% else %>
<!-- NOTHIGN TO CHECK IN -->
<div class="row">
    <div class="col-sm-12">
        <p class="lead text-center">
            You're all checked in! Thanks friend!
        </p>
        <p>
          <%= link_to_if(Rails.env.development?, "Undo Checkin - doesn't delete answers", { controller: "goals", action: "undo_checkin" }) %>
        </p>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-sm-12">
        <p class="text-center">
            <%= link_to 'Show goal', goal_path(@goal), class: "btn btn-default" %>
            <%= link_to 'View Answers', checkin_answers_goal_path(@goal), class: "btn btn-info" %>
        </p>
    </div>
</div>
