<%= render 'goal_head' %>
<% if @goal.is_it_checkin_time? %>
  <div class="row">
      <div class="col-sm-12">
        <div class="form-horizontal">


          <%= form_for @goal, url: {action: "update_checkin"} do |f| %>
            <% @questions.each do |question| %>
            <div class="form-group">


              <label class="control-label col-sm-5">
                  <p><%= question %></p>
              </label>
              <div class="col-sm-7">
                <%= f.fields_for :questions, question do |q| %>
                  <% if question.scale == "Comment" %>
                    <%= q.fields_for :comment_answers, question.comment_answers.build(question: question) do |answer| %>
                      <BR><%= answer.text_area :answer, class: "form-control" %>
                      <%= answer.hidden_field :question_id, :value => question.id %>
                    <% end %>
                  <% elsif question.scale === "Agreement" %>
                    <%= q.fields_for :rating_answers, question.rating_answers.build(question: question) do |answer| %>
                      <div class="btn-group" data-toggle="buttons">
                        <%= answer.label :answer, :value => 1, class: "btn btn-rating-1", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Strongly Disagree", 'data-container' => 'body' do %>
                          <span class="glyphicon glyphicon-ok"></span>
                          <%= answer.radio_button :answer, 1 %>
                        <% end %>
                        <%= answer.label :answer, :value => 2, class: "btn btn-rating-2", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Disagree", 'data-container' => 'body' do %>
                          <span class="glyphicon glyphicon-ok"></span>
                          <%= answer.radio_button :answer, 2 %>
                        <% end %>
                        <%= answer.label :answer, :value => 3, class: "btn btn-rating-3", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Neutral", 'data-container' => 'body' do %>
                          <span class="glyphicon glyphicon-ok"></span>
                          <%= answer.radio_button :answer, 3 %>
                        <% end %>
                        <%= answer.label :answer, :value => 4, class: "btn btn-rating-4", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Agree", 'data-container' => 'body' do %>
                          <span class="glyphicon glyphicon-ok"></span>
                          <%= answer.radio_button :answer, 4 %>
                        <% end %>
                        <%= answer.label :answer, :value => 5, class: "btn btn-rating-5", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Strongly Agree", 'data-container' => 'body' do %>
                          <span class="glyphicon glyphicon-ok"></span>
                          <%= answer.radio_button :answer, 5 %>
                        <% end %>
                      </div>
                      <%= answer.hidden_field :question_id, :value => question.id %>
                    <% end %>
                  <% elsif question.scale === "True/False" %>
                    <%= q.fields_for :boolean_answers, question.boolean_answers.build(question: question) do |answer| %>
                      <div class="btn-group" data-toggle="buttons">
                      <%= answer.label :answer, "No", :value => "false", class: "btn btn-rating-3" do  %>
                        No<%= answer.radio_button :answer, false %>
                      <% end %>
                      <%= answer.label :answer, "Yes", :value => "true", class: "btn btn-rating-3" do  %>
                        Yes<%= answer.radio_button :answer, true %>
                      <% end %>
                      </div>
                      <%= answer.hidden_field :question_id, :value => question.id %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <br>
              </div>
            <% end %>
            <div class="form-group">
              <div class="col-sm-7 col-sm-offset-5">
                <%= f.submit "Sumbit Checkin", class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
          </div>
      </div>
  </div>
<% else %>
<!-- NOTHIGN TO CHECK IN -->
<div class="row">
    <div class="col-sm-12">
        <p class="lead text-center">
            You're all checked in! Thanks friend!
        </p>
        <p>
          <%= link_to_if(Rails.env.development?, "Undo Checkin - doesn't delete answers", { controller: "goals", action: "undo_checkin" }) %>
        </p>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-sm-12">
        <p class="text-center">
            <%= link_to 'Show goal', goal_path(@goal), class: "btn btn-default" %>
            <%= link_to 'View Answers', checkin_answers_goal_path(@goal), class: "btn btn-info" %>
        </p>
    </div>
</div>
