<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center with-padding"><%= @goal %>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal"><%= question_icon %></button>
      <br><small><%= whose_goal(@goal) %> checked in
      <%= pluralize(@goal.checkin_count, "time") %>
    </small></h3>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <h4>Description</h4>
            <p>
              <%= @goal.description %>
            </p>
            <h4>Success</h4>
            <p>
              <%= @goal.success_description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- QUESTION GRPAHS -->
<% @questions.each do |question| %>
  <div class="row">
    <h4 class="text-center">
      <%= question %>
    </h4>
  </div>
  <div class="row">
    <div class="graph-block">
      <p class="text-center">
        <% if question.scale != "Comment" %>
          <%= graph_question(question) %>
        <% else %>
          <dl class="dl-horizontal">
            <% question.comment_answers.order(created_at: :desc).each do |c| %>
              <dt><%= c.created_at.strftime('%h %d') %></dt>
              <dd><%= c.answer %></dd>
            <% end %>
          </dl>
        <% end %>
      </p>
    </div>
  </div>
<% end %>


<%= yield :charts_js %>
