<%= render 'goal_head' %>
<%= render 'success_description' if @goal.success_description? %>
<div class="row">
    <div class="col-sm-3">
        <%= link_to "Check in", checkin_goal_path(@goal.id), class: "btn btn-primary btn-sm" %>
        <%= link_to "View Goal", goal_path(@goal.id), class: "btn btn-primary btn-sm" %>
    </div>
    <div class="col-sm-6">
        <p class="text-center lead">
            You've checked into this goal
            <strong><%= pluralize(@goal.checkin_count, "time") %></strong>
        </p>
    </div>
</div>
<!-- QUESTION GRPAHS -->
<% @questions.each do |question| %>
  <div class="row">
    <h4 class="text-center">
      <%= question %>
    </h4>
  </div>
  <div class="row">
    <div class="graph-block">
      <p class="text-center">
        <% if question.scale != "Comment" %>
          <%= graph_question(question) %>
        <% else %>
          <dl class="dl-horizontal">
            <% question.comment_answers.each do |c| %>
              <dt><%= c.created_at.strftime('%h %d') %></dt>
              <dd><%= c.answer %></dd>
            <% end %>
          </dl>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
