<%= render 'goal_head' %>
<% if @goal.is_it_checkin_time? %>
  <div class="row">
      <div class="col-sm-12">
          <%= form_for @goal, url: {action: "update_checkin"} do |f| %>
            <% @questions.each do |question| %>
              <label class="control-label">
                  <p><%= question %></p>
              </label>
              <%= f.fields_for :questions, question do |q| %>

                <% if question.scale == "Text" %>
                  <%= q.fields_for :comment_answers, question.comment_answers.find_or_initialize_by(question: question) do |answer| %>
                    <BR><%= answer.text_area :answer, class: "form-control" %>
                    <%= answer.hidden_field :question_id, :value => question.id %>
                  <% end %>
                <% elsif question.scale === "Agreement" %>
                  <%= q.fields_for :rating_answers, question.rating_answers.find_or_initialize_by(question: question) do |answer| %>
                    <%= answer.select(:answer, agreement_options, { prompt: true }, { class: "form-control" }) %>
                    <%= answer.hidden_field :question_id, :value => question.id %>
                  <% end %>
                <% elsif question.scale === "True/False" %>
                  <%= q.fields_for :boolean_answers, question.boolean_answers.find_or_initialize_by(question: question) do |answer| %>
                    <%= answer.select(:answer, boolean_options, { prompt: true }, { class: "form-control" }) %>
                    <%= answer.hidden_field :question_id, :value => question.id %>
                  <% end %>
                <% end %>

              <% end %>
              <br>
            <% end %>
            <div class="form-group">
                <%= f.submit "Submit Checkin", class: 'btn btn-primary' %>
            </div>
          <% end %>
      </div>
  </div>
<% else %>
<!-- NOTHIGN TO CHECK IN -->
<div class="row">
    <div class="col-sm-12">
        <p class="lead text-center">
            You're all checked in! Thanks friend!
        </p>
        <p>
          <%= link_to_if(Rails.env.development?, "Undo Checkin - doesn't delete answers", { controller: "goals", action: "undo_checkin" }) %>
        </p>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-sm-12">
        <p class="text-center">
            <%= link_to 'Show goal', goal_path(@goal), class: "btn btn-default" %>
            <button class="btn btn-primary">View Answers</button>
        </p>
    </div>
</div>
