<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center with-padding">Your Focus Areas</h2>
    </div>
</div>
<!-- NO GOALS -->
<% if @user.goals.empty? %>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            You have not made any goals yet.
        </div>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-sm-12">
        <!-- GOALS -->
            <% @goals.in_groups_of(2, false) do |goal| %>
                <div class="row">
                  <!-- START FIRST CARD -->
                  <% if @goals.count > 1 %>
                    <div class="col-sm-6">
                  <% elsif @goals.count == 1 %>
                    <div class="col-sm-6 col-sm-offset-3">
                  <% end %>
                    <div class="panel panel-default white-background" id="panel-hoverable">
                      <div class="panel-body">
                          <small>Last checkin:
                              <%= timewordslastcheckin(goal[0]) %></small>
                          <h3><%= goal[0].title %></h3>
                          <p><%= goal[0].description %></p>
                      </div>
                    <!-- start footer -->
                    <% if goal[0].is_it_checkin_time? %>
                      <div class="panel-footer panel-footer-need-checkin white-background">
                          <%= link_to(checkin_goal_path(goal[0]), { "data-turbolinks" => "false" }) do %>
                            <div class="panel-footer-split"><%= time_icon %> Checkin</div>
                          <% end %>
                          <%= link_to(goal[0]) do %>
                            <div class="panel-footer-split"><%= eye_icon %> View</div>
                          <% end %>
                      </div>
                    <% else %>
                      <%= link_to goal[0] do %>
                        <div class="panel-footer panel-footer-all-good white-background">
                            <%= eye_icon %> View
                        </div>
                      <% end %> <!-- end link to goal[0] -->
                    <% end %> <!-- end footer -->
                  </div> <!-- PANEL END -->
                </div> <!-- COL END -->
                <!-- END FIRST CARD -->
                <!-- START SECOND CARD -->
                <% if goal[1] %>
                  <% if @goals.count > 1 %>
                    <div class="col-sm-6">
                  <% elsif @goals.count == 1 %>
                    <div class="col-sm-6 col-sm-offset-3">
                  <% end %>
                    <div class="panel panel-default white-background" id="panel-hoverable">
                      <div class="panel-body">
                          <small>Last checkin:
                              <%= timewordslastcheckin(goal[1]) %></small>
                          <h3><%= goal[1].title %></h3>
                          <p><%= goal[1].description %></p>
                      </div>
                    <!-- start footer -->
                    <% if goal[1].is_it_checkin_time? %>
                      <div class="panel-footer panel-footer-need-checkin white-background">
                          <%= link_to(checkin_goal_path(goal[1]), { "data-turbolinks" => "false" }) do %>
                            <div class="panel-footer-split"><%= time_icon %> Checkin</div>
                          <% end %>
                          <%= link_to(goal[1]) do %>
                            <div class="panel-footer-split"><%= eye_icon %> View</div>
                          <% end %>
                      </div>
                    <% else %>
                      <%= link_to goal[1] do %>
                        <div class="panel-footer panel-footer-all-good white-background">
                            <%= eye_icon %> View
                        </div>
                      <% end %> <!-- end link to goal[1] -->
                    <% end %> <!-- end footer -->
                  </div> <!-- PANEL END -->
                </div> <!-- COL END -->
              <% end %>
              <!-- END SECOND CARD -->
              </div> <!-- end row -->
            <% end %> <!-- goals.in_groups_of end -->
        </div> <!-- end col -->
      </div> <!-- end row -->
<!-- NEW GOAL -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" id="new-goal-panel">
        <%= link_to(new_goal_path, { "data-turbolinks" => "false" }) do %>
        <div class="panel panel-default white-background" id="panel-hoverable">
            <div class="panel-body">
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    New Focus Area</h4>
            </div>
        </div>
        <% end %>
    </div>
</div>
<!-- SOCIAL GOALS -->
<div class="row">
  <div class="col-sm-12">
    Others' Goals
  </div>
</div>
<!-- SOCIAL LIST GOALS -->
<div class="row">
  <div class="col-sm-12">
    list groupdate
    <% @social_goals.each do |sg| %>

    <% end %>
  </div>
</div>
