<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center with-padding"><%= @goal %></h3>
  </div>
</div>
<%= render 'info_alert_checkin_questions' if @goal.is_it_checkin_time? || @goal.checkin_count == 0 %>
<%= render 'goal_head' %>
<!-- YOU"VE CEHCKED IN X TIMES -->
<div class="row">
    <div class="col-sm-12">
        <p class="text-center lead">
          You've checked in
          <strong><%= pluralize(@goal.checkin_count, "time") %></strong>
        </p>
    </div>
</div>
<div class="row">
    <!-- CHECKIN LOG -->
    <% if @goal.frequency == "Daily" %>
      <div class="col-sm-12">
        <div class="table-responsive">
        <table class="table" id="checkin_count_table">
          <tr>
            <% @date_array.each do |date| %>
              <% if @date_hash[date] == true %>
                <td data-title="<%= date.strftime("%b %e") %> #winning" data-container="body"
                data-toggle="tooltip" class="cell-checkedin">
                  <%= date.day %>
                </td>
              <% elsif @date_hash[date] == false %>
                <td class="cell-not-checkedin" data-title="<%= date.strftime("%b %e") %>" data-container="body"
                data-toggle="tooltip">
                  <%= date.day %>
                </td>
              <% end %>
            <% end %>
          </tr>
        </table>
        </div>
      </div>
    <% else %>
      <%= checkin_log_graph(@goal) %>
    <% end %>
</div>
<!-- questions -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Questions
      </div>
      <div class="panel-body">
        <p>
          Right now, this goal has <%= pluralize(@goal.questions.count, "question") %>.
          That includes both check in questions and review questions. Your check in
          questions are below:
        </p>
        <ol>
          <% @goal.checkin_questions.each do |question| %>
          <li><%= question.question %></li>
          <% end %>
        </ol>
        <p>
          You should edit these questions and ensure they help you focus on your <%= @goal.title %>.</p><p>
            <%= link_to "View questions here", goal_questions_path(@goal) %>
          </p>
        </div>
      </div>
  </div>
</div>
<!-- LINK ROW -->
<div class="row">
  <div class="col-sm-12">
    <%= link_to pencil_icon.concat(' Edit goal'), edit_goal_path(@goal), "data-turbolinks" => "false", class: "btn btn-default" %>
    <%= link_to list_icon.concat(' Show questions'), goal_questions_path(@goal), class: "btn btn-default" %>
    <%= link_to share_icon.concat(' Change social access'), social_goal_path(@goal), class: "btn btn-default" %>
    <%= link_to trash_icon.concat(' Delete goal'), @goal,
    data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-default pull-right" %>
  </div>
</div>

<%= yield :charts_js %>
