<%= render 'goal_head' %>
<!-- YOU"VE CEHCKED IN X TIMES -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <p class="text-center lead">
            You've checked into this goal
            <strong><%= pluralize(@goal.checkin_count, "time") %></strong>
        </p>
        <!-- CHECKIN LOG -->
        <h4 class="text-center">Checkin Log</h4>
        <%= line_chart CheckinLog.where(goal: @goal).group_by_day(:date).count, height: "100px", id: "checkin_log_graph" %>
    </div>
    <div class="col-sm-3">
        <div class="pull-right">
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="sidegoalmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="sidegoalmenu">
                    <li><%= link_to 'Edit', edit_goal_path(@goal), "data-turbolinks" => "false" %></li>
                    <li><%= link_to 'Delete', @goal,
                    data: {:confirm => 'Are you sure?'}, :method => :delete %></li>
                    <li><%= link_to "Check in", checkin_goal_path(@goal.id), "data-turbolinks" => false %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Reset questions', reset_goal_path(@goal) %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- SUCCESS -->
<%= render 'success_description' if @goal.success_description? %>
