<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center with-padding">Give people access to: <%= @goal %></h3>
  </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
      <p>Enter the email of the person you want to give access:</p>
      <%= form_for(@user_to_find, remote: true, url: search_for_email_path, html: { class: "form-inline" }) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, class: "form-control", style: "min-width:250px" %>
          <%= hidden_field_tag :goal_id, params[:id] %>
        </div>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <div class="user_found_or_not">
    </div>
    <div id="sgr_form_hidden">
      <%= form_tag(new_social_goal_path) do %>
        <%= hidden_field_tag :goal_id, params[:id] %>
        <div class="form-group">
          <%= email_field_tag :email, nil, id: "email-field", class: "form-control", style: "max-width:250px", readonly: true %>
        </div>
        <%= submit_tag "", id: "submit-button-form", class: "btn btn-info" %>
      <% end %><br>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          People with access
        </div>
        <div class="panel-body">
          <% if anyone_have_access?(@goal) %>
          The following people have access to this goal:
          <ul>
              <%= people_with_access(@goal).find_each do |person| %>
              <li><%= person.to_s %></li>
              <% end %>
          </ul>
          <% else %>
          <p>
            No one has access to this goal yet.
          </p>
          <% end %>
        </div>
      </div>
    </div>
</div>
