<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center with-padding"><%= @goal %></h3>
  </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
      <p>Enter their email to search:</p>
      <%= form_for(@user_to_find, remote: true, url: search_for_email_path) do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.submit "Search" %>
      <% end %>
      <div class="user_found_or_not" id="user_found_or_not">
        found or not found...here email@email.com
        <a href="#" class="btn btn-default">invite user / give access</a>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          People with access
        </div>
        <div class="panel-body">
          <% if anyone_have_access?(@goal) %>
          The following people have access to this goal:
          <ul>
              <%= people_with_access(@goal).find_each do |person| %>
              <li><%= person.to_s %></li>
              <% end %>
          </ul>
          <% else %>
          <p>
            No one has access to this goal yet.
          </p>
          <% end %>
        </div>
      </div>
    </div>
</div>
