<!DOCTYPE html>
<html>
<head>
  <title>GrowthApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="container">

    <header>
      <!-- NAV -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand big-brand" href="#">Growth</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <%= link_to_in_li "Goals", user_path(1), class: "nav-item nav-link" %>
              <% if current_user.checkin_ready_goals > 0 %>
                <%= link_to_in_li_with_span "Checkin", user_path(1), current_user.checkin_ready_goals, class: "nav-item nav-link" %>
              <% end %>
              <% if display_goal_name? %>
                <p class='navbar-text goal'><span class='glyphicon glyphicon-record'></span> <%= @goal %></p>
                <% if @goal.is_it_checkin_time? %>
                  <%= link_to_in_li_with_span "Checkin", checkin_goal_path(@goal), "!", class: "nav-item nav-link", "data-turbolinks" => false %>
                <% end %>
                <%= link_to_in_li "View", goal_path(@goal), class: "nav-item nav-link" %>
                <%= link_to_in_li "Checkin Answers", checkin_answers_goal_path(@goal), class: "nav-item nav-link" %>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <%= link_to_in_li "Temp. Ques.", template_questions_path, class: "nav-item nav-link" %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- MAIN -->
    <main>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- YIELD -->
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </main>
    <!-- FOOTER -->
    </div>
</body>
</html>
