<!DOCTYPE html>
<html>
<head>
  <title>GrowthApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <!-- NAV -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Growth", root_path, class: "navbar-brand big-brand" %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <% if show_checkins? %>
                  <%= link_to_in_li_with_span home_icon, goals_path, "checkins needed", class: "nav-item nav-link" %>
                <% else %>
                  <%= link_to_in_li home_icon, goals_path, class: "nav-item nav-link" %>
                <% end %>
              <% end %>
              <% if display_goal_name? %>
                <%= link_to_in_li eye_icon.concat(" View Goal"), goal_path(@goal), class: "nav-item nav-link" %>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if display_goal_name? %>
                <% if @goal.is_it_checkin_time? %>
                  <%= link_to_in_li time_icon.concat(" Checkin"), checkin_goal_path(@goal), class: "nav-item nav-link", "data-turbolinks" => false, id: 'checkin-link' %>
                <% end %>
                <%= link_to_in_li stats_icon.concat(" Answers"), checkin_answers_goal_path(@goal), class: "nav-item nav-link" %>
              <% end %>
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= cog_icon %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <%= link_to_in_li "Profile", user_path(current_user) %>
                    <li role="separator" class="divider"></li>
                    <%= link_to_in_li "Sign out", destroy_user_session_path, method: :delete, "data-turbolinks" => false %>
                  </ul>
                </li>
                <% if current_user.email == "clbarrell@gmail.com" %>
                  <%= link_to_in_li "TQ", template_questions_path, class: "nav-item nav-link" %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- MAIN -->
    <main>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <% if notice %><div class="alert-info alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p id="notice" class="text-center"><%= notice %></p></div><% end %>
          <% if alert %><div class="alert-warning alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p id="alert" class="text-center"><%= alert %></p></div><% end %>
          <!-- YIELD -->
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </main>
    <!-- FOOTER -->
    </div>
</body>
</html>
