<!DOCTYPE html>
<html>
<head>
  <title>GrowthApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <!-- NAV -->
      <div class="mdl-layout__header-row">
        <span class="mdl-layout__title"><%= link_to "Growth", root_path %></span>
        <div class="mdl-layout-spacer">      </div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Nav link 1</a>
          <%= link_to "My Goals", user_path(1), class: "mdl-navigation__link mdl-typography--text-uppercase"%>
        </nav>
      </div>
    </header>
    <!-- MAIN -->
    <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
          <!-- YIELD -->
          <%= yield %>
        </div>
      </div>
    </main>
    <!-- FOOTER -->
    <%= render 'layouts/footer' %>

  </div>


</body>
</html>
